    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Zoe's Portfolio", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   'https://zoe-cui.herokuapp.com/static_pages/home' %></li>
            <li><%= link_to "Resume",   'https://zoe-cui.herokuapp.com/static_pages/resume' %></li>
            <li><%= link_to "About Me", 'https://zoe-cui.herokuapp.com/static_pages/about_me' %></li>
            <li><%= link_to "Users", users_path %></li>          
          </ul>
        </nav>
      </div>
    </header>